* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgba(121, 121, 121, 0.788);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(8, 8, 8);
    background-color: rgb(252, 252, 252);
}