#seach {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#seach>nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}